<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Roomie.Properties.Settings.BitirmeProjesiConnectionString"
            connectionString="Data Source=DESKTOP-OQP1AD4\SQLEXPRESS;Initial Catalog=BitirmeProjesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Roomie.Properties.Settings.RoomieConnectionString"
            connectionString="Data Source=DESKTOP-DTESCFG\SQLEXPRESS;Initial Catalog=Roomie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>